# Variables de entorno (información sensible)
.env

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log